body{
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    
}
.content {
    
}
.header {
}
.container {
    max-width: 1600px;
    margin: 0 auto;

}
.header__up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header__logo {
    margin-left: 22px;
    margin-top: 10px;
    z-index: 100;
}
.header__phones{
    text-align: center;
    /* z-index: 100; */
}
.header__text{
    margin: 0;
    font-size: 12px;
    color: rgb(203, 6, 6);;
}
.header__phones a{
    display: block;
    font-size: 12px;
    color: rgb(20, 174, 58);
    text-decoration: none;
}
.header__nav {
    margin-right: 15px;
}

.nav_first, .nav_second {
    color: rgb(203, 6, 6);
    text-decoration: none;
    
    font-weight: 700;
}

.nav_second {
    margin-left: 20px;   
}

.nav_first:hover{
    color: rgb(7, 148, 42);
}
.nav_second:hover{
    color: rgb(7, 148, 42);
}
.header__burger{
    display: none;
}
.header__under {
    
}
.header__menu {
    display: flex;
    justify-content: space-between;
    
    background-color: rgb(73, 209, 107);
    border: 1px solid  rgba(0, 0, 0, 0.2);
    padding-left: 22px;
    padding-right: 19px;
}

.header__item{
    text-align: center;
    padding: 5px 0;
    /* align-items: center; */
}
.header__item a{
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.header__item a:hover{
    color: rgb(244, 10, 10)
}


.pizza{
    padding: 5px 0;
}

.drinks{
    padding: 5px 0;
}


.middle {
    margin-top: 0;
    /* background: linear-gradient(70deg, white, green, red); */

}
.middle__head{
    display: flex;
    justify-content: center;
}

.middle__text {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: rgb(244, 10, 10);
    text-shadow: 2px 1px black;
    margin: 40px 0 0 0;
    display: block;
    
}

.middle-low{
    margin-left: 10px;
}

.middle__container{
    position: relative;
    max-width: 768px;
    margin: 50px auto 0 auto;
    overflow: hidden;
}

.middle__next{
    position: absolute;
    top: 220px;
    right: 0px;

    z-index: 3;
}

.middle__prev{
    position: absolute;
    top: 220px;
    left: 0px;

    transform: rotate(180deg);

    z-index: 3;
}
.container__pizza {
    max-width: 670px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
    /* margin-left: 60px; */
}



h4{
    color: rgb(244, 10, 10);
    font-size: 16px;
    
}
.middle__slider{
    display: flex;
}
.slider__item {
    text-align: center;
    margin-right: 35px;    
    /* border: 1px solid black; */
    background: linear-gradient(0deg, rgba(247,255,45,0.7738445720084909) 0%, rgba(255,255,255,1) 100%);
    transition: all 1s ease 0s;
}

.last{
    margin-right: 0px;
}
.slider__components {
    text-align: center;
    font-weight: 700;
    /* padding: 0 20px 0 20px; */
}
.slider__weight {
    text-align: start;
    font-size: 18px;
    color: rgb(203, 6, 6);
    padding-left: 20px;
}
.slider__price{
    text-align: end;
    font-size: 18px;
    color: rgb(7, 148, 42);
    padding-right: 20px;
}

.slider__button{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.slider__button a{
    display: block;
    box-sizing: border-box;
    width: 120px;
    height: 40px;
    background: rgb(250, 219, 14);
    font-size: 16px;
    text-decoration: none;
    border-radius: 15%;
    border: 2px solid black;
    text-shadow: 1px 1px black;
    padding-top: 8px;
    color: #000;
}

.slider__button button{
    display: flex;
    box-sizing: border-box;
    width: 120px;
    height: 40px;
    background: rgb(250, 219, 14);
    font-size: 16px;
    text-decoration: none;
    border-radius: 15%;
    border: 2px solid black;
    text-shadow: 1px 1px black;
    padding-top: 8px;
    color: #000;
    justify-content: center;
    cursor: pointer;
}


.item--hidden{
    opacity: 0.3;
}
  

.lower {
    
}
.lower__head{
    display: flex;
    justify-content: center;
}
.lower__text {
    
    font-size: 24px;

    font-weight: 700;
    text-align: center;
    color: rgb(244, 10, 10);
    text-shadow: 2px 1px black;
    margin: 40px 0 0 0;
}

.lower_low{
    margin-left: 10px;
}
.lower__container {
    position: relative;
    max-width: 768px;
    margin: 50px auto 0 auto;
}
.lower__prev {
    position: absolute;
    top: 220px;
    left: 5px;

    transform: rotate(180deg);
}
.lower__next {
    position: absolute;
    top: 220px;
    right: 5px;
}
.container__rolls {
    max-width: 670px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
}
.lower__slider {
    display: flex;
}

.footer {
}
.footer__up {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(73, 209, 107);

    border: 1px solid  rgba(0, 0, 0, 0.2);
}
.footer__text {
    margin-left: 22px;
    color: #fff;
}
.footer__first {
    margin: 0;
}
.footer__second {
    margin: 0;
}
.footer_elements {
    margin-right: 19px;
    display: flex;
}

.footer__under {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;


    
}
.under__text{
    margin-left: 22px;
}
.under__text p {
    margin: 0;
    color: #000;
    font-size: 12px;
}

.under__text a {
    text-decoration:underline;
    color: rgb(7, 148, 42);
    font-size: 10px;
}

/* menu small in header */
.header__under-mini {
    display: none;
    background-color: rgb(73, 209, 107);
}
.header__under-first-block {
    display: flex;
    margin: 0 19px 0 22px;
    justify-content: space-between;
}
.header__item {
    text-align: center;
}
.pizza {
    padding: 0;
}
.header__under-second-block {
    display: flex;
    margin: 0 19px 0 22px;
    justify-content: space-between;
}
.header__under-first-block a,
.header__under-second-block a{
    font-size: 12px;
}
.drinks {
    padding: 0;
}

.middle__small {
    display: none;
}
.small__head {
}
.small__text {
    font-size: 14px;

    font-weight: 700;
    text-align: center;
    color: rgb(244, 10, 10);
    text-shadow: 1px 1px black;
    margin: 30px 0 0 0;
}
.small_item {
    text-align: center;
}
.slider__button {
}

.under__elements{
    margin-right: 19px;
    display: flex;
}

.lower__small{
    display: none;
}

.footer__mini {
    display: none;
}
.mini__text {
    
    text-align: center;
    background-color: rgb(73, 209, 107);
    color: #fff;
    padding: 8px 0px 8px 0;
    font-size: 11px;
}
.mini__first {
    margin: 0px;
}
.mini__second {
    margin: 0px;
}
.mini__elements {
    display: flex;
    justify-content: space-around;
}
.footer_social {
}
.mini__under {
    background-color: rgb(237, 75, 75);
    text-align: center;
}
.mini__under p{
    margin: 0;
    font-size: 12px;
    padding-right: 19px;
    color: #000;
    padding: 8px 19px 8px 0;
}


@media (max-width: 960px){
    .middle__head{
        display: block;
    }
    .middle-low{
        margin-top: 5px;
    }

    .lower__head{
        display: block;
    }
    .lower_low{
        margin-top: 5px;
    }
    .footer__first, 
    .footer__second{
        font-size: 14px;
    }
}

@media (max-width: 769px){
    .header__nav{
        display: flex;
        
        position: fixed;
        top: -100%;
        left:0px;
        right:40px;
        width:100%;
        height:100%;
        background-color: #fff;
        z-index: 99;        

        transition: all 1s ease 0s;
        
    }
   .header__nav--open{        
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 30px;
        gap: 30px;
        top:63px;        
        
    }
    .nav_first, 
    .nav_second{
        margin: 0;
        text-align: center;
        justify-content: center;
       
    }
    .nav_first{
        
    }

    .header__under-mini{
        display: block;
    }
    .header__burger{
        display: block;
        width: 40px;
        height: 30px;
        position: relative;
        margin-right: 19px;
        cursor: pointer;
        z-index: 100;

        
    }
    .header__burger--open{
        transition: all 1s ease 0s;
        background-color: rgb(73, 209, 107);
    }
    .header__burger--open::before {
        transform: rotate(45deg);
        margin-top: 14px;
        transition: all 1s ease 0s;
    }
    .header__burger--open::after{
        transform: rotate(-45deg);
        margin-bottom: 14px;
        
        transition: all 1s ease 0s;
    }
    .header__burger--open span{
        transform: scale(0);
    }
    
    .header__burger span{
        position: absolute;
        width: 100%;
        background-color: rgb(203, 6, 6);
        top: 14px;
        height:2px;
    }
    .header__burger::before ,
    .header__burger::after{
        content: '';
        background-color: rgb(203, 6, 6);
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__under{
        display: none;
    }
    .container__pizza{
        max-width: 410px;
    }
    .slider__item{
        margin-left: 0px;
        margin-right: 30px;
    }

    .middle__container{
        max-width: 500px;
    }
    .middle__prev{
        left:0;
    }
    .middle__next{
        right:0;
    }

    .container__rolls{
        max-width: 410px;
    }

    .lower__container{
        max-width: 480px;
    }
    .lower__prev{
        left:0;
    }
    .lower__next{
        right:0;
    }
    
    .footer {
        display: none;
    }
    .footer__mini {
        display: block;
    }
}

@media (max-width:500px){
    .middle{
        display: none;
    }
    .middle__small {
        display: block;
    }
    .lower{
        display: none;
    }

    .lower__small{
        display: block;
    }
}